/* Styles go here */

.alive {
  background: #02a107;
}
td {
  background: #000;
  border: 1px solid #000;
}

header {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  text-align: center
}
.toolbar {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.pattern-select {
  margin-bottom: 10px;
}
.action-btns {
  text-align: left;
}

@media (min-width: ) {

}

footer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
