---
layout: default
title: Shreyas Satish
---

<div class = 'content'>
  <p>
    Hey. I'm Shreyas Satish, and I live in Bangalore, India. I used to be a professional programmer, but I'm currently freewheeling and working on bringing an idea I deeply care about, to life.
  </p>
  <p>
    I love reading psychology, history and anything even vaguely related to computer science. I recently finished So Good They Can't Ignore You</a> and Influence. I'm currently reading Made to Stick, Harry Potter and the Methods of Rationality and Thinking Fast and Slow.
  </p>
  <p>
  
  </p>
  <div class = 'fivecol'>
  <h3>Latest <a href="/blog">Blog Posts</a></h3>
  <hr>
  <ul class = 'home-posts'>
   {% for post in site.categories["blog"] %}
     <li>
       <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
       <div class = 'details'>
         {{ post.date | date_to_string }}
       </div>
     </li>
   {% endfor %}
  </ul>
  </div>
  <div class = 'fivecol'>
    <h3>Latest <a href="/demos">Demos</a></h3>
    <hr>
    <ul class = 'home-posts'>
     {% for post in site.categories["demos"] %}
       <li>
         <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
         <div class = 'details'>
           {{ post.date | date_to_string }}
         </div>
       </li>
     {% endfor %}
    </ul>
  </div>
</div>

