<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Shreyas Satish" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen" />

	<!-- Your styles -->
	<link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />

	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="/javascripts/css3-mediaqueries.js"></script>

</head>
<body>
  <div class = container>
      <div class = 'row'>
        <div class = 'twocol'></div>
        <div class = 'eightcol'>
          <div class = 'site-content'>
            <div id = 'header'>
              <h1><a href = '/'>Shreyas Satish</a></h1>
              <ul class = 'horizontal-list'>
                <li><a href="/blog">Blog</li>
                <li><a href="/social">Social</li>
                <li><script src = '/javascripts/mail_script.js'></script></li>
              </ul>
            </div>
            {{ content }}

            <div id="disqus_thread"></div>

          </div>
        </div>
        <div class = 'twocol last'></div>
      </div>
      <div class = 'row'>
        <div class = 'twocol'></div>
        <div class = 'eightcol'>
          <div id = 'footer'>
             Copyright <a href = "https://github.com/shreyas-satish/shreyas-satish.github.com">Shreyas Satish</a>, 2012.
          </div>
        </div>
        <div class = 'twocol last'></div>
      </div>
  </div>
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	<script type="text/javascript">

    {% if page.comments %}
      //Disqus
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'shreyas-satish-blog'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    {% endif %}
    //Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24580841-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>

